html {
    overflow: hidden; /* Prevents scrolling for the entire document */
}

/* SF Pro Display font family with all weights */
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    src: url("SF-Pro-Display-Black.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    src: url("SF-Pro-Display-Heavy.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    src: url("SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    src: url("SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    src: url("SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    src: url("SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    src: url("SF-Pro-Display-Light.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 200;
    src: url("SF-Pro-Display-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 100;
    src: url("SF-Pro-Display-Thin.otf") format("opentype");
}

body {
    font-family: 'SF Pro Display', sans-serif;
    padding-top: constant(safe-area-inset-top); /* iOS 11.2+ */
    padding-top: env(safe-area-inset-top);
    background-color: #ffffff; /* Set background color to white */
    color: #000000; /* Set text color to black */
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white; /* or any color you like */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top */
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Smooth fade-out transition */
}

#splash-screen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
}

.square {
    width: 39%;
    aspect-ratio: 1;
    margin-left: 30px;
    background: white;
    border: 2px solid #000000;
    border-radius: 1.25vh;
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
}

.square-text {
    font-size: 45px;
    font-weight: 100;
    line-height: 1.2;
    color: #000000;
    text-align: left;
    width: 100%;
    padding: 0;
}

.enlarged {
    width: 100%;
    height: 100%;
    margin-top: 30vh;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enlarged img {
    max-width: 56%;
    max-height: 56%;
}

.qr-square {
    width: 37%;
    aspect-ratio: 1;
    margin-right: 30px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.qr-code {
    max-width: 100%;
    max-height: 100%;
}

.tap-to-enlarge {    
    font-size: 32px;
    font-weight: 300; 
    letter-spacing: 0.05em; 
    margin-top: 15px;
    margin-bottom: 40px;
    font-family: "SF Pro Display";
}

.rectangle {
    height: 12%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    background: linear-gradient(0deg, var(--first) 0%, white 40%, white 60%, var(--first) 100%);
    border-radius: 1.25vh;
    text-align: center;
    font-weight: 500;
    align-items: center;
    padding-bottom: 0px;
}

.rectangle-text1 {
    font-size: 185px;
    margin-bottom: -30px;
    margin-top: -9px;
    width: 200px;
    font-weight: 700;
}

.rectangle-text2 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 2px;
    letter-spacing: 0.05em; 
}

.bottom-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.bottom-image {
    width: 100%;
}

.expires-text {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 41px;
}

.color-strip {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 30px;
    margin-right: 30px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    0% {
    opacity: 0;
}
49% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 1;
}
}

.color-block {
    width: 34%;
    height: 50px;
}

.red {
    background: var(--stripone);
}

.green {
    background: var(--striptwo);
}

.blue {
    background: var(--stripthree);
}

.datetime {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    line-height: 1.2;
}

.bip {
    margin-top: -10px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #000000;
    font-size: 85px;
    width: 100%;
    text-align: center;
    font-family: 'SF Pro Display', sans-serif;
    letter-spacing: 0.03em; /* Add letter spacing */
}

.not-valid {
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 600;
    letter-spacing: 0.05em; 
}

.validator-instructions {
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 300; 
    letter-spacing: 0.08em; /* Slightly increase letter spacing */
}
a.back-font {
    font-size: 35px;
    margin-left: -363px;
    font-family: 'SF Pro Display';
    font-weight: 500;
}
